Package: com.matthewbenedict.mobileminibrowser+14
Name: CyberKit MobileMiniBrowser (iOS 14)
Maintainer: UInt2048
Version: 0.0.9-nightly.01
Section: Tweaks
Provides: com.matthewbenedict.mobileminibrowser (= 0.0.9-nightly.01)
Conflicts: com.matthewbenedict.mobileminibrowser
Replaces: com.matthewbenedict.mobileminibrowser
Depends: firmware (>=14.0), firmware (<<15.0)
Architecture: iphoneos-arm
Description: CyberKit MobileMiniBrowser allows you to test the CyberKit backport of newer CyberKit in a minimal browser.
Depiction: https://uint2048.github.io/depictions/mobileminibrowser-rootful/?p=14
Sileodepiction: https://uint2048.github.io/depictions/mobileminibrowser-rootful/14/sileo.json
Icon: https://uint2048.github.io/CydiaIcon.png
