Package: com.matthewbenedict.mobileminibrowser-15
Name: CyberKit MobileMiniBrowser (iOS 15 Rootless)
Maintainer: UInt2048
Version: 0.0.9-nightly.01
Section: Tweaks
Provides: com.matthewbenedict.mobileminibrowser (= 0.0.9-nightly.01)
Conflicts: com.matthewbenedict.mobileminibrowser
Replaces: com.matthewbenedict.mobileminibrowser
Depends: firmware (>=15.0), firmware (<<16.0)
Architecture: iphoneos-arm64
Description: CyberKit MobileMiniBrowser allows you to test the CyberKit backport of newer CyberKit in a minimal browser.
Depiction: https://uint2048.github.io/depictions/mobileminibrowser-rootless/?p=15
Sileodepiction: https://uint2048.github.io/depictions/mobileminibrowser-rootless/15/sileo.json
Icon: https://uint2048.github.io/CydiaIcon.png
